/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 2px solid #666;
}

body {
  background: #3f51b5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}

.counter {
  display: flex;
  margin: 0 auto;
  height: 500px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  > div:first-child {
    font-size: 100px;
  }

  a {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

  .controls {
    display: flex;
    flex-direction: row-reverse;

    > div {
      min-width: 40px;
      height: 40px;
      text-align: center;
      background: #fff;
      color: #3f51b5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 5px;
      cursor: pointer;
    }
  }
}