.weather {
  padding: 20px;
  // background-color: #6acbff;
  box-shadow: 2px 2px 10px #303075;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: auto;

  .fetching_true{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 200px;
    height:100px;
    border-radius: 20px;
    box-shadow: 0 0 15px 4px darkred;
    background: white;
  }

  .fetching_false {
    display: none;
  }
}

